body{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin: 0px;
}
section{
    border-right:1px solid rgb(53, 53, 53);
}
#setting-header{
    padding: 15px;
    border-bottom: 1px solid rgb(53, 53, 53);
}
#setting-section{
    padding: 4px 15px 4px 15px;
}
.event-setting{
    border:none;
    border-bottom: 1px solid black;
    background-color:white;
    width:100%;
}
.event-setting:hover{
    background-color: #eef5ff;
    cursor: pointer;
}
h4{
    margin: 0px;
    padding: 5px 0px 5px 0px;

}
input{
    border: 1px solid #b2b2b2;
    border-radius: 6px;
    padding: 7px;
    font-size: 15px;
}
select{
    border: 1px solid #b2b2b2;
    border-radius: 6px;
    padding: 7px;
    font-size: 15px;
    background-color: white;
    min-width: 80px;
}
#select-duration{
    min-width: 80px;
}
textarea{
    border: 1px solid #b2b2b2;
    border-radius: 6px;
    padding: 7px;
    font-size: 15px;
     resize: none;
}
#button-section{
    display: flex;
    justify-content: end;
    padding: 10px;
}
#cancel-button{
    background-color: white;
    color: black;
    border: none;
    border-radius:20px;
    padding: 13px;
    text-decoration: none;
    margin: 0px 30px 0px 4px;
}
#cancel-button:hover{
    border-bottom: 1px black solid;
}
#save-button{
    background-color: #0069ff;
    color: white;
    font-weight: bold;
    padding: 13px;
    border:none;
    border-radius: 20px;
}
#save-button:hover{
    background-color: #0462e7;
}
#dateRange input{
    max-width: 50px;
}
#dateRange span{
    margin-left: 10px;
}
#weeklyHoursSetting{
    background-color: #fafafa;
    padding:10px ;
    border-radius: 6px;
}
.timeSlot{
    max-width: 90px;
}
.timeSlotButton{
    background-color: #fafafa;
    border: none;
    margin: 0px 7px 0px 10px;
}
.timeSlotSetting{
    display:flex;
    align-items: center;
    margin: 10px 0px 5px 0px;
}
.timeSlotSetting span{
margin: 0px 15px 0px 10px;
}

.line {
    border-bottom: 1px solid rgb(53, 53, 53);
    margin-top: 10px;
    width: 100%;
}
.return{
display:flex;
align-items:center;
}
.return img{
max-width:17px;
max-height:17px;
}
.backButton {
    background-color: white;
    border: none;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

