<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/create-event.css}">
</head>
<body>

<section>
    <div id="setting-header">
        <form th:action="@{/create-event}">
            <input type="hidden" th:name="eventId" th:value="${eventId}">
            <div class="return">
                <img src="/images/return-button-1.svg" alt="<">
                <button class="backButton" type="submit"><u>Event Type Summary</u> </button>
            </div>        </form>
        <h1>Booking page options</h1>
    </div>
    <form id="setting-section" th:action="@{/save-booking-page-options}">
        <div>
            <h4>Invitee questions</h4>
            <textarea id="" cols="30" rows="6" th:name="inviteeQuestions" th:value="${inviteeQuestions}"></textarea>
<!--            <div id="questions">-->

<!--            </div>-->
<!--            <button type="button" onclick="addNewQuestionField()">-->
<!--            + Add New Question-->
<!--            </button>-->
        </div>
        <input type="hidden" th:value="${eventId}" th:name="eventId">
        <div id="button-section">
            <a class="cancel-settings" th:href="@{/create-event(eventId=${eventId})}">Cancel</a>
            <button type="submit" id="save-button">Save and Close</button>
        </div>
    </form>

</section>
</body>
</html>