<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/create-event.css}">
</head>
<body>

<section>
    <div id="setting-header">
        <div class="return">
            <img src="/images/return-button-1.svg" alt="<">
            <a th:href="@{/dashboard}" style="text-decoration: none; border: none; color: black;"><u>Done</u></a>
        </div>

        <h1>Event Title</h1>
    </div>
    <div id="setting-section">
        <form th:action="@{/event-details}">
            <input type="hidden" th:name="eventId" th:value="${eventId}">
            <button type="submit" class="event-setting">
                <img class="setting-img" src="/images/list-303.svg" alt="<">
                <div>
                    <h2>Event details</h2>
                    <span th:text="${event.duration}"></span><span> min</span><br>
                    <p>Google meet</p>
                </div>
                <div class="next">
                    <img class="nextImg" src="/images/return-button-1.svg" alt="<">
                </div>
            </button>
        </form>
        <form th:action="@{/scheduling-settings}">
            <input type="hidden" th:name="eventId" th:value="${eventId}">
            <button type="submit" class="event-setting">
                <img class="setting-img" src="/images/calender-19.svg" alt="<">
                <div>
                    <h2>Scheduling settings</h2>
                    <p>Indefinitely</p>
                    <p>Google, meet</p>
                </div>
                <div class="next">
                    <img class="nextImg" src="/images/return-button-1.svg" alt="<">
                </div>
            </button>
        </form>
        <form th:action="@{/booking-page-options}">
            <input type="hidden" th:name="eventId" th:value="${eventId}">
            <button type="submit" class="event-setting">
                <img class="setting-img" src="/images/card-55.svg" alt="<">
                <div>
                    <h2>Booking page options</h2>
                    <p>Indefinitely</p>
                    <p>Google, meet</p>
                </div>
                <div class="next">
                    <img class="nextImg" src="/images/return-button-1.svg" alt="<">
                </div>
            </button>
        </form>
    </div>
</section>
<!--<section id="preview">-->
<!--    <div>-->
<!--        <h1>Select a Date & Time</h1>-->
<!--        <div id="changeMonth">-->
<!--            <form th:action="@{/previousMonthCreateEvent}">-->
<!--                <input type="hidden" th:name="eventId" th:value="${eventId}">-->
<!--                <input type="hidden" th:name="selectedDate" th:value="${selectedDate}">-->
<!--                <input type="hidden" th:name="date" th:value="${date}">-->
<!--                <button type="submit"> < </button>-->
<!--            </form>-->
<!--            <span th:text="${date}"></span>-->
<!--            <form th:action="@{/nextMonthCreateEvent}">-->
<!--                <input type="hidden" th:name="eventId" th:value="${eventId}">-->
<!--                <input type="hidden" th:name="selectedDate" th:value="${selectedDate}">-->
<!--                <input type="hidden" th:name="date" th:value="${date}">-->
<!--                <button type="submit"> > </button>-->
<!--            </form>-->
<!--        </div>-->
<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Mon</th>-->
<!--                <th>Tue</th>-->
<!--                <th>Wed</th>-->
<!--                <th>Thu</th>-->
<!--                <th>Fri</th>-->
<!--                <th>Sat</th>-->
<!--                <th>Sun</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="week : ${daysInMonth}">-->
<!--                <td th:each="day : ${week}" >-->
<!--                    <form th:action="@{/create-event}" method="get">-->
<!--                        <input type="hidden" th:name="eventId" th:value="${eventId}">-->
<!--                        <input type="hidden" th:name="selectedDate" th:value="${day==null ? null :day.localDate}">-->
<!--                        <input type="hidden" th:name="date" th:value="${date}">-->
<!--                        <button th:class="${day == null ? null : (day.localDate == selectedDate ? 'selected-day' :-->
<!--                                            (day.isAvailable == false ? 'days' : 'available-day'))}"-->
<!--                                type="submit"-->
<!--                                th:disabled="${day == null || day == null ? null :day.isAvailable == false}"-->
<!--                                style="display: ${day == null ? 'none' : 'inline-block'};">-->
<!--                            <span th:text="${#temporals.format(day==null ? null :day.localDate , 'dd')}"></span>-->
<!--                        </button>-->
<!--                    </form>-->
<!--                </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--    <div>-->
<!--        <div><span>Sunday</span><span>, </span> <span th:text="${selectedDate}"></span></div>-->
<!--        <div id="timeSlots">-->
<!--            <form th:action="@{/create-meet}" th:each="timeslot : ${timeslots}" method="post" >-->
<!--                <input type="hidden" th:name="startHour" th:value="${timeslot.startHour}">-->
<!--                <input type="hidden" th:name="startMinute" th:value="${timeslot.startMinute}">-->
<!--                <input type="hidden" th:name="endHour" th:value="${timeslot.endHour}">-->
<!--                <input type="hidden" th:name="endMinute" th:value="${timeslot.endMinute}">-->
<!--                <input type="hidden" th:name="selectedDate" th:value="${selectedDate}">-->
<!--                <input type="hidden" th:name="eventId" th:value="${eventId}">-->
<!--                <button th:type="submit" th:text="${timeslot.startTime + ' - ' + timeslot.endTime}"></button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
</body>
</html>