<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/create-event.css}">
</head>
<body>

<section>
    <div id="setting-header">
        <div class="return">
            <img src="/images/return-button-1.svg" alt="<">
            <a th:href="@{/dashboard}" style="text-decoration: none; border: none; color: black;"><u>Done</u></a>
        </div>

        <h1>Event Title</h1>
    </div>
    <div id="setting-section">
        <form th:action="@{/event-details}">
            <input type="hidden" th:name="eventId" th:value="${eventId}">
            <button type="submit" class="event-setting">
                <img class="setting-img" src="/images/list-303.svg" alt="<">
                <div>
                    <h2>Event details</h2>
                    <p>45 min</p>
                    <p>Google meet</p>
                </div>
                <div class="next">
                    <img class="nextImg" src="/images/return-button-1.svg" alt="<">
                </div>
            </button>
        </form>
        <form th:action="@{/scheduling-settings}">
            <input type="hidden" th:name="eventId" th:value="${eventId}">
            <button type="submit" class="event-setting">
                <img class="setting-img" src="/images/calender-19.svg" alt="<">
                <div>
                    <h2>Scheduling settings</h2>
                    <p>Indefinitly</p>
                    <p>Google, meet</p>
                </div>
                <div class="next">
                    <img class="nextImg" src="/images/return-button-1.svg" alt="<">
                </div>
            </button>
        </form>
        <form th:action="@{/booking-page-options}">
            <input type="hidden" th:name="eventId" th:value="${eventId}">
            <button type="submit" class="event-setting">
                <img class="setting-img" src="/images/card-55.svg" alt="<">
                <div>
                    <h2>Booking page options</h2>
                    <p>Indefinitly</p>
                    <p>Google, meet</p>
                </div>
                <div class="next">
                    <img class="nextImg" src="/images/return-button-1.svg" alt="<">
                </div>
            </button>
        </form>
    </div>
</section>
</body>
</html>