<!DOCTYPE html>
<html xmins:th="http:www.thymeleaf.org" xmlns:xmins="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>
        .main {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
            width: 85%;
            margin: auto;
        }

        #each-event {
            border: 2px solid black;
            margin-top: 10px;
            padding-left: 8px;
            padding-right: 8px;
        }

        .button{
            font-size:22px;
            margin: 5px;
        }
    </style>
</head>
<body>

<div class="main">
    <div id="each-event" th:each="event: ${events}" >
        <h1 th:text="${event.title}"/>
        <p th:text="${event.host}"/>
        <p th:text="${event.duration}"/>
        <p th:text="${event.location}"/>

    </div>
</div>




</body>
</html>