<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/create-event.css}">
</head>
<body>
<section>
    <div id="setting-header">
        <form th:action="@{/create-event}">
            <input type="hidden" th:name="eventId" th:value="${eventId}">
            <div class="return">
                <img src="/images/return-button-1.svg" alt="<">
                <button class="backButton" type="submit"><u>Event Type Summary</u></button>
            </div>
        </form>
        <h1>Event Details</h1>
    </div>
    <form id="setting-section" th:action="@{/update-event-details}">
        <div>
            <h4>Event Name</h4>
            <input type="text" th:name="title" th:value="${title}">
        </div>
        <div>
            <h4>Duration</h4>
            <select id="select-duration" th:name="duration">
                <option th:selected="${duration == 30}" value="30">30min</option>
                <option th:selected="${duration == 60}" value="60">60min</option>
            </select>
        </div>
        <div>
            <h4>Location</h4>
            <select th:name="location">
                <option th:selected="${location == 'Google meet'}" value="Google meet">Google meet</option>
                <option th:selected="${location == 'Zoom'}" value="Zoom">Zoom</option>
            </select>
        </div>
        <div>
            <h4>Description/Instructions</h4>
            <textarea name="" id="" cols="30" rows="6" th:name="description" th:text="${description}"></textarea>
        </div>
        <input type="hidden" th:name="eventId" th:value="${eventId}">
        <div id="button-section">
            <a class="cancel-settings" th:href="@{/create-event(eventId=${eventId})}">Cancel</a>
            <button id="save-button">Save and Close</button>
        </div>
    </form>
</section>
</body>
</html>