<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ScheduledMeet</title>
    <link rel="stylesheet" th:href="@{/css/schedule-meet.css}">
</head>
<body>

<section>
    <div id="meetDetails">

        <h1 id="hostName"><span th:text="${host}"></span></h1>

        <h1><span th:text="${event.title}"></span></h1>

        <div>
            <span class="meetinfo" th:text="${event.duration}"></span>
            <span class="meetinfo">  min</span>
        </div>
        <div>
            <span class="meetinfo" th:text="${scheduledMeet.startTime}"></span>
            <span class="meetinfo"> - </span>
            <span class="meetinfo" th:text="${scheduledMeet.endTime}"></span>
            <span class="meetinfo">, </span>
            <span class="meetinfo" th:text="${scheduledMeet.date}"></span>
        </div>
        <div>
            <p class="meetinfo">India Standard Time</p>
        </div>
        <p th:text="${event.description}">
        </p>
    </div>
    <div id="inviteesDetails">
        <h2>Enter Details</h2>
        <form th:action="@{/save-schedule-meet}" method="post" th:object="${event}">
            <div class="inputFields">
                <p>Name *</p>
                <input type="text" th:name="inviteeName" required>
            </div>
            <div class="inputFields">
                <p>Email *</p>
                <input type="text" th:name="inviteeEmail" required>
            </div>
            <div class="inputFields">
                <p>Please share anything that will help prepare for our meeting.</p>
                <textarea type="text" th:name="description"></textarea>
            </div>
            <input type="hidden" th:name="meetId" th:value="${meetId}">
            <button type="submit" id="save-button">Save and Close</button>
        </form>
    </div>
</section>
</body>
</html>